/* file_viewer.css */

/* Body styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

/* Header styles */
.nav-bar {
  background-color: rgb(138, 70, 241);
  
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.sub-title {
  font-size: 18px;
  margin-left: 10px;
}

.file-name {
  font-size: 18px;
  margin-left: 10px;
}

/* Search bar styles */
.search-bar {
  margin-top: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  align-items: center;
}

#search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}

#go {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#go:hover {
  background-color: #0056b3;
}

#total-rows {
  font-size: 16px;
}

/* Search results table styles */
.result-aria {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #5f18ab;
  color:white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table th,
table td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: left;
}

